.*.swp
*.egg
*.egg-info
*.pyc
.test
.testrepository
.tox
.idea
AUTHORS
build/*
ChangeLog
config
output
etc/jenkins_jobs.ini
dist/*
doc/build/*
jenkins_jobs/versioninfo
.coverage
cover/
jenkins-job-builder
testr_subunit_log
